<div class="container">
  
<%= render 'shared/errors', obj: @article %>

<%= form_with model: @article do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label'  %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <p><%= form.submit 'Save', class: 'btn btn-primary' %></p>
<% end %>

</div>