<%= render 'shared/errors', obj: @category %>

<%= form_with model: @category do |form| %>
    <div class="mb-3">
      <%= form.label :name, 'Category name', class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'Enter a categgory name...'%>
    </div>

    <p><%= form.submit( class: 'btn btn-primary') %></p>
<% end %>